# Database
DATABASE_URL=postgresql://neondb_owner:npg_nTZMAVl38vuH@ep-steep-brook-anucv8iu-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Gemini
GEMINI_API_KEY=your_gemini_api_key_here

# Clerk Auth
CLERK_SECRET_KEY=sk_test_l5P7h1LL999NRMYlLYQucF0VRdSaYA5Rz8D0iw0YC3
CLERK_PUBLISHABLE_KEY=pk_test_Y2hhbXBpb24tcGVsaWNhbi05Ny5jbGVyay5hY2NvdW50cy5kZXYk

# Server
PORT=5000
